.productsList {
  margin-top: 40px;
  /* temporal margin */
  margin-bottom: 40px;
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  padding: 0;
  color: var(--surface);
}
.zeroProducts {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 388px;
  margin: 40px 0;

  @include headline5Typo;
}
// @media (max-width: 1200px) {
//   .productsList {
//     grid-template-columns: repeat(2, 1fr);
//   }
// }
// @media (max-width: 768px) {
//   .productsList {
//     grid-template-columns: repeat(2, 1fr);

//   }
// }
// @media (max-width: 768px) {
//   .productsList {
//     justify-content: space-between;
//     gap: 20px 10px;
//   }
// }
// @media (max-width: 661px) {
//   .productsList {
//     justify-content: center;
//   }
// }
