// @import './mixins.scss'; //added globally from config
@import './mixins.scss';
@import './base.scss';

<<<<<<< Updated upstream
=======
body {
  display: grid;
  grid-template-rows: 58px 1fr 120px;
  grid-template-areas:
    'header'
    'main'
    'footer';
}

>>>>>>> Stashed changes
/* Wrapper */
.wrapper {
  /* position: relative; */
  margin: 0 auto;
  max-width: 1370px;
  /* height: inherit; */
  padding: 0 15px;

  display: flex;
  flex-direction: column;
  height: 100%;
}
<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
@media (max-width: 1024px) {
  .wrapper {
    padding: 0 10px;
  }
}
@media (max-width: 479px) {
  .mobWrapper {
    padding: 0px;
  }
}
@media (max-width: 360px) {
  .wrapper {
    padding: 0 5px;
  }
  .mobWrapper {
    padding: 0px;
  }
}

// ANIMATIONS
<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
@keyframes loading {
  to {
    background-position-x: -20%;
  }
}

<<<<<<< Updated upstream
// MODAL
.confirm-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: var(--on-primary-disabled-accent);
}
.confirm-modal-content {
  min-width: 360px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background: var(--background-soft);
  border-radius: 0.5rem;
}

//ERROR PAGE

=======
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}
/* animation classes */
.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;

  animation-delay: 0s;

  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;

  animation-delay: 0s;

  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
//ERROR PAGE
>>>>>>> Stashed changes
.errorPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.errorTitle {
  @include headline3Typo;
}
