.errorContainer {
  // background: var(--background-soft);
  position: fixed;
  top: 90px;
  right: 20px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  // width: fit-content;
  // height: fit-content;

  // padding: 20px;
  border-radius: 8px;
  color: var(--tertiary);
  z-index: var(--z-error);
}
.errorComponent {
  padding: 10px 20px;
  border-radius: 8px;
  background: var(--background-soft);
  box-shadow: var(--dp-1);
}
