.section {
  margin: auto;
}

.sectionContainer {
  margin: auto;
}

.sectionTitle {
  text-align: center;

  @include headline4Typo;
}

.sectionText {
  text-align: center;
  margin-top: 20px;

  @include body2Typo;
}
