// @import './mixins.scss'; //added globally from config
@import './mixins.scss';
@import './base.scss';

/* Wrapper */
.wrapper {
  /* position: relative; */
  margin: 0 auto;
  max-width: 1370px;
  /* height: inherit; */
  padding: 0 15px;

  display: flex;
  flex-direction: column;
  height: 100%;
}

@media (max-width: 1024px) {
  .wrapper {
    padding: 0 10px;
  }
}
@media (max-width: 479px) {
  .mobWrapper {
    padding: 0px;
  }
}
@media (max-width: 360px) {
  .wrapper {
    padding: 0 5px;
  }
  .mobWrapper {
    padding: 0px;
  }
}

// ANIMATIONS

@keyframes loading {
  to {
    background-position-x: -20%;
  }
}

// MODAL
.confirm-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: var(--on-primary-disabled-accent);
}
.confirm-modal-content {
  min-width: 360px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background: var(--background-soft);
  border-radius: 0.5rem;
}

//ERROR PAGE

.errorPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.errorTitle {
  @include headline3Typo;
}
